#twc td,p,li,ul {color:#000000; font-size:small; font-family:Verdana,Helvetica,Sans-Serif;}
.lg {color:#000000; font-size:large;}/* size:5 */
.med {color:#000000; font-size:medium;}/* size:4 */
.sm {color:#000000; font-size:small;}/* size:2 */
.xsm {color:#000000; font-size: x-small}/* size:1 */
.caption {color:#000000; font-size: x-small; font-weight: bold; line-height: 110%}
